{% extends "backendBase.html" %}

{% load staticfiles %}
{% load static %}

{%block mainContent%}	
	<div class="container" style="border:1px solid #C0C0C0;" align="center">
          {% csrf_token %}
		<div class='row' style='text-align:center;'>
            <div style="float:left;">
			</div>
			<h1>{{ welcome_message }}</h1></div><br>
        <div class='breadcrumb' style='text-color: blue; background-color: white;'>
            <a href="{% url 'jpartyfb:index' %}">Home</a> >
            <a href="{% url 'jpartyfb:manage_leagues' %}">Manage Leagues</a> >
            <a href="{% url 'jpartyfb:create_new_league' %}">Create New League</a>
        </div>

{% if Error_message %}
    <p style="color: red;">
        {{ Error_message }}
    </p>
{% endif %}

    <table align="center">
        <tr>
            <img style="border-radius:1px;height:160px; width:160px;" src="{% static 'jpartyfb/images/league_logo.png' %}"/>
        </tr>
    </table>

    <div style="height: 75px;"></div>

    <form name="create_league_form_1" action="{% url 'jpartyfb:process_create_league_form_1' %}" method="post">
         <input type="checkbox" id="injury_checkbox" name="injury_checkbox" style="margin-left: -142px;" checked />
         <b>Toggle Injuries for League</b><br>
         <input type="checkbox" id="weather_checkbox" name="weather_checkbox" style="margin-left: -77px;" checked />
             <b>Toggle In Game Weather for League</b><br>
        <hr>
        <table cellpadding="5">
            {% for element in form %}
             <tr>
                 <td>
                    <label for="{{ element.name }}">{{ element.label }}</label>
                 </td>
                 <td>
                     {{ element }}
                 </td>
             </tr>
             {% endfor %}
              <tr><td><br></td></tr>
              <tr>
                  <td colspan="2" align="center">
                      <input type="button" id="submit_button" value='Choose Teams' />
                  </td>
              </tr>
          </table>
    </form>
</div>

<div style="height: 75px;"></div>

<script language="Javascript">

    $("#submit_button").click(function() {

        //all we need to do here is check if the number of teams per conference is divisible by the number of divisions per conference
        //we need to make sure that all divisions have the same number of teams

        var num_teams_conference = $("#id_number_of_teams_conf_select").val()
        var num_divisions_conference = $("#id_number_of_divisions_select").val()

        if (num_teams_conference % num_divisions_conference != 0) {
            alert("Please choose numbers that allow for an equal number of teams per division in each conference")
            return
        }

        var the_form = document.forms[0];
        the_form.submit()

    })



</script>

{% endblock%}
