{% extends "backendBase.html" %}

{% load static %}

{%block mainContent%}	
	<div class="container" style="border:1px solid #C0C0C0;" align="center">
          {% csrf_token %}
		<div class='row' style='text-align:center;'>
            <div style="float:left;">
			</div>
			<h1>{{ welcome_message }}</h1></div><br>

{% if Error_message %}
    <p style="color: red;">
        {{ Error_message }}
    </p>
{% endif %}

    <table align="center">
        <tr>
            <img style="border-radius:1px;height:160px; width:160px;" src="{% static 'jpartyfb/images/league_logo.png' %}"/>
        </tr>
    </table>
    <div style="height: 75px;"></div>

    <table width="100%">
	    <tr align="center">
	        
	        <td width="33%" align="center">
                <a href="{% url 'jpartyfb:index' %}">
                    <img style="border-radius:1px;height:108px; width:125px;" src="{% static 'jpartyfb/images/menu_icons/create_new_league.png' %}"/>
                    <img style="border-radius:1px;height:43px; width:348px;" src="{% static 'jpartyfb/images/text_graphics/create_new_league.png' %}"/>
                </a>
	        </td>
            <td width="33%">
                <img style="border-radius:1px;height:108px; width:125px;" src="{% static 'jpartyfb/images/menu_icons/start_new_season.png' %}"/>
                <img style="border-radius:1px;height:37px; width:310px;" src="{% static 'jpartyfb/images/text_graphics/start_new_season.png' %}"/>
	        </td>
            <td width="33%">
                <img style="border-radius:1px;height:108px; width:125px;" src="{% static 'jpartyfb/images/menu_icons/edit_league_settings.png' %}"/><br>
                <img style="border-radius:1px;height:44px; width:354px;" src="{% static 'jpartyfb/images/text_graphics/edit_league_settings.png' %}"/>
	        </td>
	    </tr>
	</table>

</div>


{% endblock%}
