{% extends "backendBase.html" %}

{% load staticfiles %}
{% load static %}

{%block mainContent%}	
	<div class="container" style="border:1px solid #C0C0C0;" align="center">
          {% csrf_token %}
		<div class='row' style='text-align:center;'>
            <div style="float:left;">
			</div>
			<h1>{{ welcome_message }}</h1></div><br>
        <div class='breadcrumb' style='text-color: blue; background-color: white;'>
            <a href="{% url 'jpartyfb:index' %}">Home</a>
        </div>

{% if Error_message %}
    <p style="color: red;">
        {{ Error_message }}
    </p>
{% endif %}

    <table align="center">
        <tr>
            <img style="border-radius:1px;height:160px; width:160px;" src="{% static 'jpartyfb/images/league_logo.png' %}"/>
        </tr>
    </table>
    <div style="height: 75px;"></div>

    <table width="100%">
	    <tr align="center">
	        
	        <td width="33%" align="center">
                <a href="{% url 'jpartyfb:index' %}">
                    <img style="border-radius:1px;height:108px; width:125px;" src="{% static 'jpartyfb/images/menu_icons/play_ball.png' %}"/><br>
                    <img style="border-radius:1px;height:45px; width:227px;" src="{% static 'jpartyfb/images/text_graphics/play_football.png' %}"/>
                </a>
	        </td>
            <td width="33%">
                <a href="{% url 'jpartyfb:manage_leagues' %}">
                    <img style="border-radius:1px;height:112px; width:121px;" src="{% static 'jpartyfb/images/menu_icons/manage_leagues.png' %}"/>
                    <img style="border-radius:1px;height:41px; width:300px;" src="{% static 'jpartyfb/images/text_graphics/manage_leagues.png' %}"/>
                </a>
	        </td>
            <td width="33%">
                <a href="{% url 'jpartyfb:view_stats' %}">
                    <img style="border-radius:1px;height:112px; width:121px;" src="{% static 'jpartyfb/images/menu_icons/view_stats.png' %}"/><br>
                    <img style="border-radius:1px;height:37px; width:189px;" src="{% static 'jpartyfb/images/text_graphics/view_stats.png' %}"/>
                </a>
	        </td>
	    </tr>
	</table>

</div>


{% endblock%}
