{% extends "backendBase.html" %}

{% load staticfiles %}
{% load static %}

{%block mainContent%}	
	<div class="container" style="border:1px solid #C0C0C0;" align="center">
          {% csrf_token %}
		<div class='row' style='text-align:center;'>
            <div style="float:left;">
			</div>
			<h1>{{ welcome_message }}: {{ league_abbrev }} - Season {{ season_year }}</h1></div><br>
            <div class='breadcrumb' style='text-color: blue; background-color: white;'>
                <a href="{% url 'jpartyfb:index' %}">Home</a>
            </div>


{% if Error_message %}
    <p style="color: red;">
        {{ Error_message }}
    </p>
{% endif %}

    <table align="center">
        <tr>
            <img style="border-radius:1px;height:160px; width:160px;" src="{% static 'jpartyfb/images/league_logo.png' %}"/>
        </tr>
    </table>

    <div style="height: 25px;"></div>

    <table width="100%" border="1" cellpadding="8">

        {% for this_power_rankings_info_list in power_rankings_info_lol %}
            <tr align="center" style="background-color: {% cycle '#ebfffe' '#99f2ec' %};">
                <td width="15%" style="font-size: 18px; font-weight: oblique;">{{ this_power_rankings_info_list.0 }}</td>
                <td width="50%" style="font-size: 18px; font-weight: oblique;"><img style="border-radius:1px;height:120px; width:120px;" src="{% static 'jpartyfb/images/team_logos/' %}{{ this_power_rankings_info_list.2 }}"/></td>
                <td width="10%" style="font-size: 18px; font-weight: oblique;">{{ this_power_rankings_info_list.3 }}</td>
            </tr>
        {% endfor %}
    </table>
    <div style="height: 25px;"></div>



</div>

<div style="height: 75px;"></div>

{% endblock%}
